/*Stylesheet for torsolaetxe.com*/

/* Variables */
:root {
  --white: rgba(255, 255, 255);
  --black: rgba(0, 0, 0);
  --grey: rgba(90, 90, 90);
  --darkgrey: rgba(60, 60, 60);
  --purple: rgb(115, 98, 211);
}

/* Style */

body {
    font: 16px "Century Gothic", Futura, sans-serif;
    margin: 0;
    margin-top: 1em;
  }

h1, h2 {
  margin: 0;
}

h3 {
  font-size: 1.4em;
  margin: 0.7em 0;
  text-decoration: underline;
}

h1, h2, h3, strong {
  color:var(--black);
}

div {
  color:var(--darkgrey);
}

ol, ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}


/*Navbar*/

.navbar {
  display: grid;
  grid-template-columns: [col] 1fr [col] 1fr [col] 1fr;
  grid-template-rows: [row] auto;
  position: relative;
}

.navbar-logo {
  grid-column: col 1 / span 2;
}

.navbar-collapsible-menu > a {
  display: block;
}

.header {
  display: flex;
  flex-flow:column nowrap;
  padding: 1em;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.header--title > h1 {
  font-size: 1.4em;
}

.header--subtitle {
  display: flex;
  flex-flow: row nowrap;
  font-size: 0.5em;
}

@media only screen and (min-width: 510px) {
  #header {
    margin-left: 1.5em;
  }
  
  .header--title {
    font-size: 1.35em;
  }
  
  .header--subtitle {
    font-size: 0.9em;
  }
  }


.menu-icon {
  width: 1.8em;
  height: 1.8em;
  fill: var(--darkgrey);
  padding-right: 3em;
  padding-top: 2.5em;
}

.menu-icon:hover {
  fill: var(--black);
}

.collapsible {
  grid-column: col 3 / span 1;
  cursor: pointer;
  width: 100%;
  text-align: right;
}

.nabvar-collapsible {
  grid-column: col 1 / span 3;
  display: grid;
  grid-template-columns: [col] 1fr [col] 1fr [col] 1fr;
  grid-template-rows: [row] auto;
  position: relative;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.navbar-collapsible-menu {
  grid-column: col 1 / span 2;
}

.navbar-collapsible-menu--item {
  color: var(--darkgrey);
  display: block;
  position: relative;
  overflow: hidden;
  padding: 1em;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 3px;
  font-size: 1em;
  text-decoration: none;
  cursor: pointer;
}

.navbar-collapsible-menu--item:hover {
  color: var(--purple);
  border-bottom: 3px solid var(--purple);
} 

#navbar--menu {
  display: none;
}

@media only screen and (min-width: 1330px) { 
  #nabvar--collapsible, #nabvar--menu-collapsible {
    display: none;
  }

  .navbar {
    display: grid;
    grid-template-columns: [col] 1fr [col] 2fr;
    grid-template-rows: [row] auto;
    position: relative;
  }

  .navbar-logo {
    grid-column: col 1 / span 1;
    display: flex;
    justify-content: center;
  }

  .header {
    display: flex;
    flex-flow:column nowrap;
    padding: 2em;
    margin: 1em;
  }
  
  .header--title > h1 {
    font-size: 2em;
  }
  
  .header--subtitle {
    display: flex;
    flex-flow: row nowrap;
    font-size: 1em;
  }

  #navbar--menu {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: end;
    margin-right: 3em;
  }

  .menu--item {
    margin: 1em;
    padding: 1em;
  }

  .menu--item:hover {
    color: var(--purple);
    border-bottom:3px solid var(--purple);
  }
}


/* Main */

main {
  padding: 1em 0;;
}

.main--item {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  padding: 1.5em;
}

.main--image-category {
  height: 60vw;
  width: 60vw;
  margin: 4px;
  max-height: 25em;
  max-width: 25em;
  overflow: hidden;
  border-radius: 50%;
  border-image: none;
  object-fit: cover;
}

.main--image-category:hover {
  border-radius: 50%;
  border-style: solid;
  border-color:var(--purple);
  border-width: 4px;
  margin: 0px;
}

.main--categories {
  font-size: 1.7em;
  padding: 0.7em;
  text-align: center;
  color:black;
  margin: 2px;
}

.main--categories:hover{
  color: var(--purple);
  border-bottom:2px solid var(--purple);
  margin: 0px;
}

@media only screen and (min-width: 1330px) {
  main {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    background-image: url(media/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .main--item {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: auto;
  }
  
  .main--image-category {
    height: 25em;
    width: 25em;
    overflow: hidden;
    border-radius: 50%;
    border-image: none;
  }

  .main--categories {
    color: var(--white);
    margin: 2px 0px;
  }

  .main--categories:hover{
    color: var(--purple);
    border-bottom:2px solid var(--purple);
    margin-bottom: 0px;
    margin-top: 2px;
  }
}

section {
  margin: 3em;
}

.section--title {
  padding: 0.5em 0;
}

.section--text {
  padding: 1em 0;
  line-height: 1.6em;
}

.section--price-pack {
  font-size: 0.9em;
}

.section--contact {
  padding: 1em 0;
}

.section--contact-btn {
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  padding: 0.7em 1em;
  border-color: black;
  color: black;
  background-color: transparent;
  font-size: 0.8em;
}

.section--contact-btn:hover {
  border-color: var(--purple);
  color: white;
  background: var(--purple);
}

.section--image {
  display: none;
}

#separator{
  display: flex;
  margin: 0;
  padding: 0;
}

.svg-triangle{
  margin: 0;
  width: 100%;
  height: 100px;
}

.svg-triangle polygon {
  fill: var(--black);
  stroke: var(--black);
  stroke-width: 2;
}

@media only screen and (min-width: 1330px) {
  section {
    margin: 0;
  }
  .section--content {
    margin: 3em;
  }
  .section--image {
    display: flex;
    justify-content: center;
    max-width: 50vw;
    overflow: hidden;
    margin: 0px;
    padding: 0;
    object-fit: contain;
  }

  .section--image-class {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 48em;
  }

  #about, #astrology, #saama, #accompaniment {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .margin-right {
    margin-left: 3em;
  }

  .margin-left{
    margin-left: -3em;
  }

}

/* Contact form */

#contact {
  display: flex;
  padding: 2em 0;
  justify-content: center;
}


.contact-form {
  padding-left: 0;
}

.form-section {
  padding:0.51em 0;
}

.form-name {
  font-size: 1em;
  padding: 0.8em 0.2em;
}

.field {
  font-size: inherit;
  padding: 0.5em;
  width: 90%;
  max-width: 40em;
  border-radius: 5px;
  border-style:solid;
  border-color: rgb(218, 218, 218); 
}

.field:focus{
  border-color: var(--purple);
  border-width: 0;
}

.message-field {
  font-size: 1em;
  padding: 0.5em;
  width: 90%;
  height: auto;
  border-color: rgb(218, 218, 218); 
  border-radius: 5px;
  border-style: solid;
  resize: none;
  max-width: 40em;
} 

.message-field:focus{
  border-color: var(--purple);
  border-width: 0;
}

.grow-wrap {
  display: grid;
}

.grow-wrap::after {
  content: attr(data-replicated-value) " ";
  white-space: pre-wrap;
  visibility: hidden;
}

.grow-wrap > textarea {
  resize: none;
  overflow: hidden;
}

.grow-wrap > textarea,
.grow-wrap::after {
  grid-area: 1 / 1 / 2 / 2;
}

.submit-button {
  height: 2.9em;
  width: 7em;
  background-color: transparent;
  color: black;
  border-color: black;
  border-radius: 5px;
  border-style: solid;
  font-size: 1em;
}

.submit-button:hover {
  cursor: pointer;
  border-color: var(--purple);
  color: white;
  background: var(--purple);
}

.submit-button-position {
  padding: 1em 0;
}


/* Footer */

footer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  min-height: auto;
}

.social {
  display: flex;
  align-items: center;
  margin: auto;
  padding: 0;
}

.social-icons {
  display: flex;
  flex-flow: row wrap;
  margin: 3vw;
  background-color: transparent;
  fill: rgb(0, 0, 0);
  border-radius: 7px;
}

.social-icons:hover {
  fill: var(--purple);
}

.footer--copyright {
  background-color: black;
  color: white;
  width: 100vw;
  padding: 1em;
  align-items: center;
  text-align: center;
}

