body {
    font: 16px "Century Gothic", Futura, sans-serif;
    margin: 0;
    margin-top: 1em;
  }
h1, h2 {
  margin: 0;
}

h3 {
  font-size: 1.4em;
  margin: 0.7em 0;
  text-decoration: underline;
}

ol, ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

#header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  flex-flow:column nowrap;
  padding: 1em;
  align-items: center;
  margin: auto;
}

.header--title {
  font-size: 0.8em;
}

.header--subtitle {
  display: flex;
  flex-flow: row nowrap;
  font-size: 0.5em;
}

.sidebar {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
}

#side--menu-button {
  margin: 0 1em 0 0;
}

.side--menu-button {
  cursor: pointer;
  background-color: transparent;
  color:black;
  border: 0;
  font-size: 2.5em;
  align-items: right;
  margin: -0.4em 0;
}

.header--image {
  width: 100%;
  height: 30vh;
  z-index: -1;
  overflow: hidden;
  object-fit: cover;
}

@media only screen and (min-width: 510px) {
#header {
  margin-left: 1.5em;
}

.header--title {
  font-size: 1.5em;
}

.header--subtitle {
  font-size: 1em;
}
}

#side--menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 2em;
}

.side--item-close {
  align-items: center;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  color:black;
  border: 0;
  font-size: 1.3em;
  padding: 0.3em;
}

.side--item {
  color: black;
  padding: 1em;
}


.side--item:hover {
  color: rgb(115, 98, 211);
}

main {
  padding: 1em 0;;
}

.main--item {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  padding: 1.5em;
}

.main--image-category {
  height: 60vw;
  width: 60vw;
  max-height: 25em;
  max-width: 25em;
  overflow: hidden;
  border-radius: 50%;
  border-image: none;
  object-fit: cover;
}

.main--image-category:hover {
  border-radius: 50%;
  border-style: solid;
  border-color:rgb(115, 98, 211);
  border-width: 4px;
}

.main--categories {
  font-size: 1.7em;
  padding: 0.7em;
  text-align: center;
  color:black;
}

@media only screen and (min-width: 1330px) {
  main {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }

  .main--item {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: auto;
  }
  
  .main--image-category {
    height: 25em;
    width: 25em;
    overflow: hidden;
    border-radius: 50%;
    border-image: none;
  }
}

section {
  margin: 3em;
}

.section--title {
  padding: 0.5em 0;
}

.section--text {
  padding: 1em 0;
  line-height: 1.6em;
}

.section--price-pack {
  font-size: 0.9em;
}

.section--contact {
  padding: 1em 0;
}

.section--contact-btn {
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  padding: 0.7em 1em;
  border-color: black;
  color: black;
  background-color: transparent;
  font-size: 0.8em;
}

.section--contact-btn:hover {
  border-color:rgb(115, 98, 211);
}

.contact-form {
  padding-left: 0;
}

.form-section {
  padding:0.51em 0;
}

.form-name {
  font-size: 1em;
  padding: 0.8em 0.2em;
}

.field {
  font-size: inherit;
  padding: 0.5em;
  width: 90%;
  max-width: 40em;
  border-radius: 5px;
  border-style:solid;
  border-color: rgb(218, 218, 218); 
}

.field:focus{
  border-color: rgb(115, 98, 211);
  border-width: 0;
}

.message-field {
  font-size: 1em;
  padding: 0.5em;
  width: 90%;
  height: auto;
  border-color: rgb(218, 218, 218); 
  border-radius: 5px;
  border-style: solid;
  resize: none;
  max-width: 40em;
} 

.message-field:focus{
  border-color: rgb(115, 98, 211);
  border-width: 0;
}

.grow-wrap {
  display: grid;
}

.grow-wrap::after {
  content: attr(data-replicated-value) " ";
  white-space: pre-wrap;
  visibility: hidden;
}

.grow-wrap > textarea {
  resize: none;
  overflow: hidden;
}

.grow-wrap > textarea,
.grow-wrap::after {
  grid-area: 1 / 1 / 2 / 2;
}

.submit-button {
  height: 2.9em;
  width: 7em;
  background-color: transparent;
  color: black;
  border-color: black;
  border-radius: 5px;
  border-style: solid;
  font-size: 1em;
}

.submit-button:hover {
  cursor: pointer;
  border-color: rgb(115, 98, 211);
  color: rgb(115, 98, 211);
}

.submit-button-position {
  padding: 1em 0;
}

footer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  min-height: auto;
}

.social {
  display: flex;
  align-items: center;
  margin: auto;
  padding: 0;
}

.social-icons {
  display: flex;
  flex-flow: row wrap;
  margin: 3vw;
  background-color: transparent;
  fill: rgb(0, 0, 0);
  border-radius: 7px;
}

.social-icons:hover {
  fill: rgb(115, 98, 211);
}

.footer--copyright {
  background-color: black;
  color: white;
  width: 100vw;
  padding: 1em;
  align-items: center;
  text-align: center;
}

